.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f6f8;
}

.loginBox {
  background: #ffffff;
  padding: 40px 36px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.loginBox h2 {
  text-align: center;
  margin-bottom: 28px;
  font-size: 22px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  height: 46px;
  padding: 0 14px;
  border: 1px solid #ced1d6;
  border-radius: 8px;
  font-size: 15px;
}

.loginBtn {
  margin-top: 10px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* 회원가입 버튼 */
.signupBtn {
  margin-top: 20px;
  height: 48px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #2563eb;
  background-color: white;
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.signupBtn:hover {
  background-color: #2563eb;
  color: white;
}
